p {
  text-align: center;
  color: black;
  font-family: Arial;
  font-style: italic;
  font-size: 120%;

}

.imagen {
  align-content: center;
  align-items: center;
  
  height:auto;
}

input{

  text-align: "center";
  justify-content: center;

}

.main {
  background-image: url("../../images/FondoPaginaContacto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.texto {
  color: white;
  font-family: Arial;
  font-style: italic;
  font-size: 120%;
}

.titulo {
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
  font-size: 220%;
  color: white;
  -webkit-text-stroke: 1px white;
}

.margen {
 margin-left: 10%;
 margin-right: 10%;
}

@media (max-width: 900px) {
  .imagen  {
    max-width: 470px;
  }

  .titulo{
    font-size: 150%;
  }

  .texto {
    color: white;
    font-family: Arial;
    font-style: italic;
    font-size: 100%;
  }

  .margen {
    margin-left: 5%;
    margin-right:5%;
   }
}

/*
background-image: url('https://img.freepik.com/vector-gratis/fondo-tecnologia-digital-alambre-malla-red_1017-27428.jpg?w=996&t=st=1658861128~exp=1658861728~hmac=9feb5c14f94a570c2bd8752a57277ddf312e9cb306d3e8b47e9adf30d72842a3');

url('../src/images/ImagenFondoContacto.png')
transform: translateX(50%) translateY(50%);

background-image: url(" ImagenFondoContacto.png");
*/
